<body>
    <h3>Certificaciones</h3>

    <tr>
        <li>
            Certificación en Python: <a href='https://github.com/WendyVallejo24/Python/blob/master/curso-python/Wendy%20Vallejo%20-%20Python.png'>Certificado</a>
        </li>
    </tr>
    <tr>(2023)</tr>
    <br />
    <tr>
        <li>
            Certificación en Pandas: <a href='https://github.com/WendyVallejo24/Python/blob/master/curso-pandas/Wendy%20Vallejo%20-%20Pandas.png'>Certificado</a> 
        </li>
    </tr>
    <tr>(2023)</tr>
    <br />
    <tr>
        <li>Certificación en Machine Learning:
            <br />
            <a href='https://github.com/WendyVallejo24/Python/blob/master/intro-machine-learning/Wendy%20Vallejo%20-%20Intro%20to%20Machine%20Learning.png'>Intro to Machine Learning</a>
            <br />
            <a href='https://github.com/WendyVallejo24/Python/blob/master/intermediate-machine-learning/Wendy%20Vallejo%20-%20Intermediate%20Machine%20Learning.png'>Intermadiate Machine Learning</a>        
        </li>
    </tr>
    <tr>(2023)</tr>

</body>
